<!DOCTYPE html>

<html>

<head>
    <title>Friends of Mine</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<h2>Détail d'un participant</h2>

<form class="w3-container" th:object="${participant}" th:action="@{/participant}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>
        <label>Nom :</label>
        <input class="w3-input" type="text" style="width:50%" th:field="*{nom}" /></p>
        <p class="w3-large w3-text-red"  th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Erreur sur le nom</p>
    <p>
        <label>Prénom : </label>
        <input class="w3-input" type="text" style="width:50%" th:field="*{prenom}" /></p>
        <p class="w3-large w3-text-red"  th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Erreur sur le prénom</p>
    <p>
        <label>Sexe :</label>
        <input class="w3-radio" type="radio" name="sexe" value="M" checked="true" th:field="*{sexe}" />
        <label class="w3-validate">M</label>

        <input class="w3-radio" type="radio" name="sexe" value="F" th:field="*{sexe}" />
        <label class="w3-validate">F</label></p>
    <p>
        <label>Email :</label>
        <input class="w3-input" type="text" style="width:50%" th:field="*{email}" /></p>
        <p class="w3-large w3-text-red"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erreur sur l'email</p>
    <!--<p>
        <label>Date de naissance :</label>
        <div class="w3-row-padding" style="width:50%">
            <div class="w3-third">
                <input class="w3-input w3-border" type="text" style="width:30%"
                       placeholder="Jour" th:field="*{dateNaissance.date}" />
            </div>
            <div class="w3-third">
                <input class="w3-input w3-border" type="text" style="width:30%"
                       placeholder="Mois" th:field="*{dateNaissance.month}" />
            </div>
            <div class="w3-third">
                <input class="w3-input w3-border" type="text" style="width:30%"
                       placeholder="Année" th:field="*{dateNaissance.year}" />
            </div>
        </div>
    </p>-->
    <button class="w3-button">Envoyer</button>
</form>

</body>

</html>
